* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3AAFA9;
    font-family: Helvetica, Arial, sans-serif;
}

/* apply styles to <header> */
.header {
    Padding: 20px 35px;
    display: flex;   
     
}

.header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #4c38fc;
    margin: 0;
    display: inline;
  }
  
 .header a {
     text-decoration: none; 
    color: #3b38fc;
  }

  .header nav {
      float: right;
      margin: 7px 0;
  }

  .header nav ul li {
      display: inline;
  }

  .header nav ul li a {
      margin: 0 30px;
      font-weight: lighter;
      font-size: 22px; 
  }

  /* hero section */
.hero {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;    
}

.hero-cta {
    width: 35%;
    text-align: center;
    margin: 3.5%;
    font-size: 18px;
    line-height: 1.2;
    
}



footer {
    background: #00f; 
    width: 100%;
    padding:40px 35px;  
}

footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
  }

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
  }

  footer a {
    color: #024e76;
  }