* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #3aafa9;
}

/* HEADER / NAV BAR STYLES START */

header {
    padding: 5px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
    background-color: #3aafa9;
    font-size: 20px;
    font: #000000;
    border-bottom: 5px, #3aafa9
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* HEADER / NAVBAR STYLES END */

.nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    width: 200 px;
    justify-content: space-between;
}

li {
    width: 200px;
}

.hero img {
    /* background-image: url("/images/header-image.jpg"); */
    background-size: cover;
    background-position: center;
    max-height: 55vh;
    background-repeat: no-repeat;
    min-width: 100%;
    background-repeat: no-repeat;
}

.first-txt {
    position: absolute;
    right: 500px;
    margin-top: 350px;
    padding: 25px;
    font-size: 50Px;
    color: rgb(2, 2, 2);
    background-color: #3aafa9
}

.flex-row-1 {
    right: 200px;
    margin: 50px; 
    padding: 50px;
    font: bold;
    font-size: larger;
    margin-top: 100px;
    content: 0px;
    border-width: 2px;
    border-color: #000000;
}

.headshot {
    width: 300px;
    border-radius: 150px;
    display: flex;
    margin-left: 600px;
    margin: 300px;  
    margin-top: -225px;
    padding: 10px;
    width: 70%;
    list-style: none;
    height: 200px;
    width: 200px;  
}

.about-me-p {
    display: table-column;
    right: 200px;
    margin: 500px;
    padding: 50px; 
    font: bold;
    font-size: larger;
    margin-top: -225px;
    float: right;
}   
  
.flex-row-2 {
    right: 200px;
    margin: 50px; 
    padding: 5px;
    font: bold;
    font-size: larger;
    margin-top: 100px;
}

.coding-img {
    display: flex;
    margin: 15px 25px;  
    padding: 10px;
    margin-left: 600px; 
    width: 70%;
    list-style: none;
    height: -100px;
    width: 100px; 
    right: 200px;
    margin-top: -225px;
    border: yellow;
}

.coding-img ul {
    display: flex;
    height: 200px;
    width: 200px;
    right:200px;
    list-style: none;
    border: yellow;

    
}

.coding-img ul li {
    height: 200px;
    width: 200px;
    right:200px;
    list-style: none;
    border: yellow;
}

.coding-img img {
    height: 200px;
    width: 200px;
    right:200px;
    list-style: none;
    border: yellow; 
}

.coding-img ul li:hover {
    height: 200px;
    width: 200px;
    right:200px;
    list-style: none;
}

.flex-row-3 {
    right: 200px;
    margin: 50px; 
    padding: 50px;
    font: bold;
    font-size: larger;
    margin-top: 100px;
    
}

.contact-me {
    justify-content: space-between;
    list-style: none;
}

.flex-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
    padding: 10px; 
    margin: 100px;
    margin-bottom: 100px;
}

.flex-row ul {
    display:flex;
    justify-content: center;
    gap: 100px;
    list-style: none;
    padding: 5px; 
    margin: -190px;
    margin-bottom: 100px;
}
